*.bc
*.ll
*.o
*.d
*.json
*.log
*.s
*.pdf
*.csv
*.so

venv/
output/
__pycache__/
env.sh
*pool*

instrument/libPMRaceHook-PreFailure.so
instrument/libPMRaceHook-PostFailure.so
instrument/libPMRacePass.so
instrument/libPMRaceHook.so
instrument/hook_ctr_cli

tests/test
tests/simple_race
tests/inline_assembly
tests/read_unflushed
tests/read_unflushed_benign
tests/read_unflushed_raw
tests/read_unflushed_raw_con
tests/test_lock
